<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Movie Website - {{pageName}}</title>

		<link rel="stylesheet" href="css/foundation.css">
    	<link rel="stylesheet" href="css/app.css">

    	<link rel="stylesheet" href="../../css/foundation.css">
    	<link rel="stylesheet" href="../../css/app.css">
	</head>
	<body>
		
		

		<header class="row expanded">
			<div class="large-4 columns">
				<h2>UNAMED MOVIE WEBSITE</h2>
			</div>

			<div class="large-8 columns">
				<form>
					<input type="text" name="movie_search" id="movie_search" placeholder="Search films">
				</form>
			</div>

			
		</header>

		{{{body}}}

		<footer>
			&copy; 2017 Sam Bunting - Data provided by <a target="_blank" href="https://www.themoviedb.org/">The Movie Database (TMDb)<a>
		</footer>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/what-input.js"></script>
		<script src="js/vendor/foundation.js"></script>
		<script src="js/vendor/sly.js"></script>
		<script src="js/app.js"></script>
		<script src="js/sliders.js"></script>

		<script src="../../js/vendor/jquery.js"></script>
		<script src="../../js/vendor/what-input.js"></script>
		<script src="../../js/vendor/foundation.js"></script>
		<script src="../../js/vendor/sly.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/sliders.js"></script>
	</body>
</html>