<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>FilmFactia - {{pageName}}</title>

		<link rel="stylesheet" href="css/foundation.css">
    	<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	
    	<link rel="stylesheet" href="../../css/foundation.css">
    	<link rel="stylesheet" href="../../css/app.css">

		<!-- Piwik -->
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push(["setDomains", ["*.www.filmfactia.com"]]);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//piwik.sambunting.biz/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', 7]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<noscript><p><img src="//piwik.sambunting.biz/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->

	</head>
	<body>

		<header class="row expanded">
			<nav class="nav clearfix">
				<a href="/">FilmFactia</a>
				<a>Search
					<div class="mega-content">
						<form>
							<input type="text" name="movie_search" value="{{searchQuery}}" id="movie_search" placeholder="Search films">
						</form>
					</div>
				</a>

				
			</nav>
				
			<div id="mega-nav">
				
			</div>
		</header>

		{{{body}}}

		<footer>
			<div class="row">
				<div class="large-6 columns">
					<h4>Genres</h4>
					<ul>
						<li><a href="/genre/Action/">Action</a></li>
						<li><a href="/genre/Adventure/">Adventure</a></li>
						<li><a href="/genre/Animation/">Animation</a></li>
						<li><a href="/genre/Comedy/">Comedy</a></li>
						<li><a href="/genre/Crime/">Crime</a></li>
					</ul>
					<ul>
						<li><a href="/genre/Documentary/">Documentary</a></li>
						<li><a href="/genre/Drama/">Drama</a></li>
						<li><a href="/genre/Family/">Family</a></li>
						<li><a href="/genre/Fantasy/">Fantasy</a></li>
						<li><a href="/genre/History/">History</a></li>
					</ul>
					<ul>
						<li><a href="/genre/Horror/">Horror</a></li>
						<li><a href="/genre/Music/">Music</a></li>
						<li><a href="/genre/Mystery/">Mystery</a></li>
						<li><a href="/genre/Romance/">Romance</a></li>
						<li><a href="/genre/Science Fiction/">Science Fiction</a></li>
					</ul>
					<ul>
						<li><a href="/genre/TV Movie/">TV Movie</a></li>
						<li><a href="/genre/Thriller/">Thriller</a></li>
						<li><a href="/genre/War/">War</a></li>
						<li><a href="/genre/Western/">Western</a></li>
					</ul>
				</div>

				<div class="large-2 columns">
					<h4>FilmFactia</h4>
					<ul>
						<li><a>Report an Issue</a></li>
						<li><a>About</a></li>
						<li><a>Contact</a></li>
					</ul>
				</div>

				<div class="large-4 columns">
					 <a target="_blank" href="https://www.themoviedb.org/"><img src="/img/tmdb-logo.png" ></a>

					<br><br>

					<p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
				</div>
			</div>
			
			<div class="row">
				Website developed by <a href="http://sambunting.biz/" target="_blank">Sam Bunting</a>
			</div>
		</footer>


		<script src="/js/vendor/jquery.js"></script>
		<script src="/js/vendor/what-input.js"></script>
		<script src="/js/vendor/foundation.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		<script src="/js/vendor/sly.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/sliders.js"></script>
	</body>
</html>