a {
	color: #009688;
	text-decoration: underline;

	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

a:hover {
	color: #004D40;
}

header {
	background-color: rgba(255, 255, 255, 0.8);
	color: #424242;
	border-bottom: 3px solid #009688;
}

header a {
	text-decoration: none;
}

header h2 {
	margin: 0;
}

header form input {
	margin-top: 9px !important;
	margin-bottom: 0 !important;

	font-size: 22px !important;
	color: #009688 !important;
	background-color: rgba(0,0,0,0) !important; 
	background: rgba(0,0,0,0) !important;
	border: none !important;
	box-shadow: none !important;
}

header form input:focus {
	box-shadow: none !important;
}

main {
	padding: 20px;
}

footer {
	background-color: #009688;
	color: #ffffff;

	text-align: center;
	padding: 20px 20px;
}

footer a {
	color: inherit;
}

footer a:hover {
	color: #cccccc;
}

.homeslider {
	height: 500px;
	overflow: hidden;
}

.homeslider div {
	height: 500px;
}


.homeslider div h4, .homeslider div h3 {
	background-color: #009688;
	padding: 5px 10px;
	position: absolute;
	top: 350px;
	color: #ffffff;
	margin-left: 20px;
}

.homeslider div h3 {
	top: 395px;
}

#popularMovies, #newMovies { 
	width: 100%; 
	padding: 0; 
}

#popularMovies .slidee, #newMovies .slidee { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	list-style: none;
}

#popularMovies .slidee li, #newMovies .slidee li { 
	float: left; 
	margin: 0 5px 0 0; 
	padding: 0; 
	width: 185px; 
	height: 100%; 
}

#popularMovies, #newMovies img {
	height: 278px;
}

#popularMovies:hover + .scrollbar .handle {
	opacity: 1;
}

#newMovies:hover + .scrollbar .handle {
	opacity: 1;
}

.scrollbar { 
	margin-top: -15px;
	margin-bottom: 15px;

	width: 100%; 
	height: 10px; 


}

.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #222;
    border-radius: 5px;
	opacity: 0;

	transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
}

#hero {

}

#hero img.backdrop {

}

#hero img.poster {
	width: 100%;
}

#hero #filmInfo {
	margin-top: 100px;
}

.cast-list {
	height: 160px;
	overflow: hidden;
}

#search-results {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.search-result {
	width: 185px;
	margin: 5px;
}

.search-result img {
	height: 277.5px;
}